@page "/espressomartini"

@using Microsoft.AspNetCore.Components

<PageTitle>@PageTitle</PageTitle>

@*Title and image*@
<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">@PageTitle</h1>
            <img src="@ImageUrl" class="img-fluid mx-auto d-block" alt="@PageTitle" />
        </div>
    </div>
</div>

@*Description*@
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">
            <p>@Description</p>
        </div>
    </div>
</div>


@*Barperson stuff*@
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    @foreach (var row in ingredients)
                    {
                        <tr>
                            <td class="text-center">@row</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <h6>Instructions:</h6>
            <ol>
                @foreach (string i in instructions)
                {
                    <li>@i</li>
                }
            </ol>
        </div>
    </div>
</div>


@code {
    private string PageTitle = "Espresso Martini";

    private string ImageUrl = "img/espressomartini.png";

    private string Description = "Behold the magnificent Espresso Martini! A bold and sophisticated blend of smooth and creamy coconut cream, perfectly balanced with the rich and robust flavor of fresh-brewed coffee, complemented by the premium quality of top-shelf vodka. Each sip is an indulgent experience, transporting you to a world of unparalleled taste and satisfaction. The Espresso Martini is not only a drink, it's a work of art that will leave you wanting more. So why not take a sip, close your eyes, and let the flavors whisk you away to a place of pure pleasure and delight.";

    private string[] ingredients = new string[] {
        "2 oz Vodka",
        "1 oz Coconut Cream",
        "2 oz Coffee"
    };

    private string[] instructions = new string[] {
        "Brew 2 oz of coffee and allow to cool.",
        "Add the cooled coffee, vodka, and coconut cream to a cocktail shaker filled with ice.",
        "Shake vigorously for 15-20 seconds to combine and chill the ingredients.",
        "Strain the mixture into a chilled martini glass.",
    };


}

